[Unit]
Wants=homeassistant.container
Before=homeassistant.container

[Unit]
Description=Qwen3-ASR
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=qwen3-asr
Pod=smarthome.pod
Image=ghcr.io/malaiwah/qwen3-asr-server:latest
AutoUpdate=registry
Pull=newer

AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true
PodmanArgs=--ipc=host


Volume=qwen3asr.volume:/root/.cache/huggingface:z

Environment=QWEN3_ASR_MODEL_ID=Qwen/Qwen3-ASR-0.6B
Environment=VLLM_EXTRA_ARGS=--enforce-eager
Exec=--gpu-memory-utilization 0.55 \
  --max-model-len 256 \
  --max-num-seqs 1 \
  --kv-cache-dtype fp8 \
  --enforce-eager

[Service]
Restart=always

[Install]
WantedBy=multi-user.target