[Container]
ContainerName=php-nginx
Environment=NGINX_WEBROOT=/app
Image=ghcr.io/webhippie/php-nginx:latest
Volume=haconfig.volume/vacuum:/app:z

[Service]
Restart=always