[Unit]
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/machineonamission/wakeonsleep:main
ContainerName=wakeonsleep
Environment=IP=192.168.0.2
Environment=MAC=C8:5A:CF:AD:BE:99
Environment=WOL_HOST=192.168.127.255
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target