[Container]
ContainerName=jabra
Image=ghcr.io/machineonamission/lva-jabra-speak-410:main

AutoUpdate=registry
Pull=newer

Pod=smarthome.pod

# usb communication
AddDevice=/dev/bus/usb

# pipewire (see LVA docs)
Volume=/run/user/1000:/run/user/1000
SecurityLabelDisable=true
GroupAdd=audio
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native

# volume
Environment=VOLUME_CONTROL=pipewire
[Service]
Restart=always