[Unit]
Wants=melutils-build.service
After=melutils-build.service

[Container]
Pod=bots.pod
ContainerName=melutils
Image=ghcr.io/machineonamission/melutils:master
AutoUpdate=registry
Pull=newer
Volume=/srv/volumes/bot/melutils/config.py:/app/config.py:z
Volume=melutils.volume:/app/persist:z

[Service]
Restart=always
