[Container]
ContainerName=cloudflare-ddns
Image=timothyjmiller/cloudflare-ddns:latest
Network=host
EnvironmentFile=ddns.env


[Service]
Restart=always