[Container]
ContainerName=cloudflare-ddns
Image=timothyjmiller/cloudflare-ddns:latest
Network=host
EnvironmentFile=ddns.env
Pod=net.pod
#Environment=IP4_PROVIDER=cloudflare.doh
Environment=IP6_PROVIDER=local

[Service]
Restart=always