global
    log stdout format raw local0
    maxconn 1024

defaults
    mode tcp
    timeout connect 5s
    timeout client 1h
    timeout server 1h

frontend rdp
    bind 0.0.0.0:3389
    default_backend rdp_server

backend rdp_server
    server rdp 192.168.0.3:3389 check
